<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,256}</string>
                <key>spriteSourceSize</key>
                <string>{309,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{309,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,256}</string>
                <key>spriteSourceSize</key>
                <string>{309,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{309,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,256}</string>
                <key>spriteSourceSize</key>
                <string>{309,256}</string>
                <key>textureRect</key>
                <string>{{0,512},{309,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,256}</string>
                <key>spriteSourceSize</key>
                <string>{309,256}</string>
                <key>textureRect</key>
                <string>{{0,768},{309,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,256}</string>
                <key>spriteSourceSize</key>
                <string>{309,256}</string>
                <key>textureRect</key>
                <string>{{0,1024},{309,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,256}</string>
                <key>spriteSourceSize</key>
                <string>{309,256}</string>
                <key>textureRect</key>
                <string>{{0,1280},{309,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,256}</string>
                <key>spriteSourceSize</key>
                <string>{309,256}</string>
                <key>textureRect</key>
                <string>{{0,1536},{309,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,256}</string>
                <key>spriteSourceSize</key>
                <string>{309,256}</string>
                <key>textureRect</key>
                <string>{{0,1792},{309,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>equip12.png</string>
            <key>size</key>
            <string>{309,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:703369771387998f163e4349b795a9d9:8e87f1a32c207c36ecd9c837c2c3a360:3a9bb7c33c5fcbaee8abbd742a7f4f34$</string>
            <key>textureFileName</key>
            <string>equip12.png</string>
        </dict>
    </dict>
</plist>
