<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,296}</string>
                <key>spriteSourceSize</key>
                <string>{275,296}</string>
                <key>textureRect</key>
                <string>{{0,0},{275,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,296}</string>
                <key>spriteSourceSize</key>
                <string>{275,296}</string>
                <key>textureRect</key>
                <string>{{275,0},{275,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,296}</string>
                <key>spriteSourceSize</key>
                <string>{275,296}</string>
                <key>textureRect</key>
                <string>{{550,0},{275,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,296}</string>
                <key>spriteSourceSize</key>
                <string>{275,296}</string>
                <key>textureRect</key>
                <string>{{0,296},{275,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,296}</string>
                <key>spriteSourceSize</key>
                <string>{275,296}</string>
                <key>textureRect</key>
                <string>{{275,296},{275,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,296}</string>
                <key>spriteSourceSize</key>
                <string>{275,296}</string>
                <key>textureRect</key>
                <string>{{550,296},{275,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,296}</string>
                <key>spriteSourceSize</key>
                <string>{275,296}</string>
                <key>textureRect</key>
                <string>{{0,592},{275,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,296}</string>
                <key>spriteSourceSize</key>
                <string>{275,296}</string>
                <key>textureRect</key>
                <string>{{275,592},{275,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huluwa.png</string>
            <key>size</key>
            <string>{825,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:214ff23f3ad5dcb1565a88385972de8b:8d28296d30503face3a8757a76089a61:d8bca5fa6a31f4e6b84fbe65dccdbec7$</string>
            <key>textureFileName</key>
            <string>huluwa.png</string>
        </dict>
    </dict>
</plist>
