<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,278}</string>
                <key>spriteSourceSize</key>
                <string>{434,278}</string>
                <key>textureRect</key>
                <string>{{0,0},{434,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,278}</string>
                <key>spriteSourceSize</key>
                <string>{434,278}</string>
                <key>textureRect</key>
                <string>{{434,0},{434,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,278}</string>
                <key>spriteSourceSize</key>
                <string>{434,278}</string>
                <key>textureRect</key>
                <string>{{868,0},{434,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,278}</string>
                <key>spriteSourceSize</key>
                <string>{434,278}</string>
                <key>textureRect</key>
                <string>{{1302,0},{434,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,278}</string>
                <key>spriteSourceSize</key>
                <string>{434,278}</string>
                <key>textureRect</key>
                <string>{{0,278},{434,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,278}</string>
                <key>spriteSourceSize</key>
                <string>{434,278}</string>
                <key>textureRect</key>
                <string>{{434,278},{434,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,278}</string>
                <key>spriteSourceSize</key>
                <string>{434,278}</string>
                <key>textureRect</key>
                <string>{{868,278},{434,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,278}</string>
                <key>spriteSourceSize</key>
                <string>{434,278}</string>
                <key>textureRect</key>
                <string>{{1302,278},{434,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nianshou.png</string>
            <key>size</key>
            <string>{1736,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20755d7ffd0c4d47755f405a3f61df86:92ed21ad24111613156a313b6a1356e6:e5b00c106b0b335f8c39327e49e0730e$</string>
            <key>textureFileName</key>
            <string>nianshou.png</string>
        </dict>
    </dict>
</plist>
