<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,680}</string>
                <key>spriteSourceSize</key>
                <string>{911,680}</string>
                <key>textureRect</key>
                <string>{{0,0},{911,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,680}</string>
                <key>spriteSourceSize</key>
                <string>{911,680}</string>
                <key>textureRect</key>
                <string>{{911,0},{911,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,680}</string>
                <key>spriteSourceSize</key>
                <string>{911,680}</string>
                <key>textureRect</key>
                <string>{{0,680},{911,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,680}</string>
                <key>spriteSourceSize</key>
                <string>{911,680}</string>
                <key>textureRect</key>
                <string>{{911,680},{911,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,680}</string>
                <key>spriteSourceSize</key>
                <string>{911,680}</string>
                <key>textureRect</key>
                <string>{{0,1360},{911,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,680}</string>
                <key>spriteSourceSize</key>
                <string>{911,680}</string>
                <key>textureRect</key>
                <string>{{911,1360},{911,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yw13.png</string>
            <key>size</key>
            <string>{1822,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74e364fe848dfc83f8649d45092b97e9:46ac927c7381d067d70431b7a58adce5:a0b92090e49924c488da5e29afa13bc2$</string>
            <key>textureFileName</key>
            <string>yw13.png</string>
        </dict>
    </dict>
</plist>
