<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,351}</string>
                <key>spriteSourceSize</key>
                <string>{193,351}</string>
                <key>textureRect</key>
                <string>{{0,0},{193,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,351}</string>
                <key>spriteSourceSize</key>
                <string>{193,351}</string>
                <key>textureRect</key>
                <string>{{193,0},{193,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,351}</string>
                <key>spriteSourceSize</key>
                <string>{193,351}</string>
                <key>textureRect</key>
                <string>{{386,0},{193,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,351}</string>
                <key>spriteSourceSize</key>
                <string>{193,351}</string>
                <key>textureRect</key>
                <string>{{579,0},{193,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,351}</string>
                <key>spriteSourceSize</key>
                <string>{193,351}</string>
                <key>textureRect</key>
                <string>{{772,0},{193,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,351}</string>
                <key>spriteSourceSize</key>
                <string>{193,351}</string>
                <key>textureRect</key>
                <string>{{965,0},{193,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,351}</string>
                <key>spriteSourceSize</key>
                <string>{193,351}</string>
                <key>textureRect</key>
                <string>{{1158,0},{193,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,351}</string>
                <key>spriteSourceSize</key>
                <string>{193,351}</string>
                <key>textureRect</key>
                <string>{{1351,0},{193,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zj02.png</string>
            <key>size</key>
            <string>{1544,351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7faf92c9fd8e5f6126f1d3dcc1c522fb:7f4b13c9db3990ac22776c6b404a3754:0baf643563a6dba720d5ab6eb726db0a$</string>
            <key>textureFileName</key>
            <string>zj02.png</string>
        </dict>
    </dict>
</plist>
